html {
  min-width: 100%;
  min-height: 100%;
}

html, body, main {
  display: grid;
}

main {
  grid-template: 1fr 1fr / auto 1fr 1fr;
  gap: .5em;
}

#programOutput:empty::after {
  color: #777;
  content: 'Program output will be here';
}

textarea {
  resize: none;
}

#controlPanel {
  grid-row: 1/3;
  gap: .5em;
}

#controlPanel > div {
  display: grid;
  gap: .5em;
}

tr:nth-child(even) {
  background-color: #eee;
}

td:nth-child(even) {
  min-width: 10ch;
  text-align: right;
}

button {
  padding: .5em;
}
