html {
  min-width: 100%;
  min-height: 100%;
}

html, body, main {
  display: grid;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5em;
}

textarea {
  resize: none
}

#controlPanel {
  grid-area: 1/1/3/auto;
  gap: .5em;
}

#controlPanel > div {
  display: grid;
  gap: .5em;
}

button {
  padding: .5em;
}
